.mouseGlow {
  position: fixed;
  pointer-events: none;
  width: 1000px;
  height: 1000px;
  filter: blur(250px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

body:hover .mouseGlow {
  opacity: 1;
}
