@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
  justify-content: center;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  background-color: #e0aaff;
  color: #3c096c;
}

.header {
  top: 0;
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.introSection {
  padding: 9em 0;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10em auto 10em 10em;
}

/* Section 1 */

.BackgroundSec1 {
  display: flex;
  flex-direction: column;
}

.BackgroundContainer {
  display: flex;
  justify-content: center;
  padding: 15em 5em;
}

.BackgroundTitle {
  display: flex;
  border-right: 1px solid #5a189a;
}

.BackgroundTitle h2 {
  margin: 0;
  padding-right: 1em;
  font-size: 35px;
}

.BackgroundContent {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #5a189a;
  width: 30%;
}

.BackgroundContent p {
  font-size: 20px;
  margin: 0 0 1em 0;
  padding: 0 2em 0 2em;
}

/* SkillsSec1 */

.SkillsContainer {
  display: flex;
  justify-content: center;
  padding: 15em 5em;
}

.SkillsTitle {
  padding-right: 2em;
}

.SkillsTitle h2 {
  font-size: 35px;
  margin-top: 0;
}

.SkillsContainer ul {
  display: flex;
  list-style-type: none;
  padding: 0 0 0 2em;
  gap: 5em;
  border-left: solid 1px #5a189a;
}

.SkillsContainer li {
  font-weight: 600;
  font-size: 25px;
}

/* Responsividade */

@media (max-width: 900px) {
  .intro {
    width: 80%;
    margin: 5em auto;
  }

  .introSection {
    margin: 5em 0;
  }

  .BackgroundContainer {
    flex-direction: column;
    align-items: center;
    padding: 5em 1em;
    margin: 5em 0;
  }

  .BackgroundTitle,
  .BackgroundContent {
    border: none;
    width: 100%;
    padding: 0;
  }

  .BackgroundTitle {
    margin: 0 2em ;
    padding: 1em 1em;
    border-bottom: solid 1px #5a189a;
    width: 84%;
  }

  .BackgroundTitle h2,
  .SkillsTitle h2 {
    font-size: 28px;
    top: 0;
  }

  .BackgroundContent p{
    padding-top: 1em;
  }

  .SkillsContainer {
    margin: 5em 0;
  }

  .BackgroundContent p,
  .SkillsContainer li {
    font-size: 14px;
  }
  
  .SkillsTitle {
    padding: 1em 0.5em 0 0.5em;
  }

  .SkillsContent {
    display: flex;
    padding: 0 1em 0 0.5em;
  }

  .SkillsContainer ul {
    gap: 0.5em;
    border: none;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .headerContent {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }
  .introSection {
    padding: 3em 0;
  }
  .intro {
    width: 95%;
    margin: 2em auto;
  }
  .BackgroundContainer,
  .SkillsContainer {
    padding: 2em 0.5em;
  }
  .BackgroundTitle h2,
  .SkillsTitle h2 {
    font-size: 22px;
  }
  .BackgroundContent p,
  .SkillsContainer li {
    font-size: 14px;
  }
}
